VITE_FIREBASE_API_KEY=AIzaSyD7nddNYWyIrxfQZNeLKUN1i2c49sTO3po
VITE_FIREBASE_AUTH_DOMAIN=esspresoanch.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=esspresoanch
VITE_FIREBASE_STORAGE_BUCKET=esspresoanch.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=172136834596
VITE_FIREBASE_APP_ID=1:172136834596:web:eaaa38e85d2a34c3235ab1
VITE_FIREBASE_MEASUREMENT_ID=G-VR00WLZ9JS
